.am-topbar-nav > li > a:after,
.am-topbar-nav > li > a:hover:after
.am-topbar-nav > li.am-active > a:focus:after,
.am-topbar-nav > li.am-active > a:hover:after {
    display: none;
}

.am-topbar .am-text-ir {
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 125px;
    background: url(http://a.static.amazeui.org/assets/i/ui/logo.png) no-repeat left center;
    -webkit-background-size: 125px 24px;
    background-size: 125px 24px;
}

.am-animation-slide-bottom {
    background: none;
    border-color: #ffffff;

}

.am-animation-slide-bottom:hover {
    background: rgba(0, 0, 0, .5);
    border-color: #ffffff;
}

.headercolor {
    background: none;
}

.am-topbar-inverse {
    border-color: transparent;
}

.am-topbar-right li {
    padding-left: 20px;

}

.bgimg {

    background: url("../images/backimg4.jpg");
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin-top: -55px;
    text-align: center;
    padding: 120px 0px 65px 0px;
    margin-bottom: 35px;
}

.bgimg h1 {
    font-size: 2.3rem;

}

.bgimg h2 {
    margin-top: 15px;
    font-size: 50px;
}

.huanle {
    position: relative;
    top: -15px;
    right: -5px;
    /*寰芥爣浣嶇疆*/
}

.bgimg button {
    margin-top: 20px;

}

#caseimgs {

    max-width: 1100px;
}

#caseimgs img {
    padding: 10px;
}

#caseimgs div {
    border: 0px;
}

.am-nav-tabs {
    border: 0px;
}

.am-nav-tabs > li > a {
    color: #3bb4f1;
}

.am-nav-tabs > li.am-active > a,
.am-nav-tabs > li.am-active > a:focus,
.am-nav-tabs > li.am-active > a:hover {
    border: 0px;
    background-color: #3bb4f1;
    color: #FFFFFF;
}

.am-tabs-bd {
    margin-left: -16px;
    margin-top: 1px;

}

.am-tabs-bd .gallery-inner {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 10px;
}

.onimg {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    transform:translateY(-101%);
    -webkit-transform: translateY(-101%);
    -ms-transform:translateY(-101%);
    -moz-transform:translateY(-101%);
    transition-property: all;
    -ms-transition-property: all;
    -moz-transition-property:all;
    transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s; /* Firefox 4 */
    -webkit-transition-duration: 0.4s; /* Safari 和 Chrome */
    -o-transition-duration: 0.4s; /* Opera */
    transition-timing-function: initial;
    -moz-transition-timing-function: initial; /* Firefox 4 */
    -webkit-transition-timing-function: initial; /* Safari 和 Chrome */
    -o-transition-timing-function: initial; /* Opera */
    transition-delay: initial;
    -moz-transition-delay: initial; /* Firefox 4 */
    -webkit-transition-delay: initial; /* Safari 和 Chrome */
    -o-transition-delay: initial; /* Opera */
}

.gallery-inner:hover .onimg {
    -webkit-transform: translateY(-0%);
}

.am-tabs-bd li {
    padding: 0px 5px 0px 5px;
}

@media screen and (max-width: 1024px) {
    .onimg p {
        display: none;
    }
}

.chageheader {
    background: rgba(0, 0, 0, .7);
    color: #FFFFFF;
}

.gallery-inner a {
    display: block;
}